/* title area */
* {
    box-sizing: border-box;
}

.top-container {
    width: 100vw;
    text-align: center; 
    position: relative;

}

.top-container img {
    width: 100vw;
    height: 31.5vh;
    object-position: 0 20%;
    object-fit: cover; 
}

.h1-title-area h1 {
    width: 100vw;
    font-size: 36px;
    text-align: left;
    display:inline-block;
    height: 31.5vh;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding-top: 14vh;
    position: absolute;
    top: 0;
    left: 0;
}

.h1-title-area h1,a {
    color: #fff;
}

/* main area 1 */
.container-wrapper {
    width: 100vw;
    padding: 60px;
}

.container-wrapper h2,.container-wrapper p,.container-wrapper h3 {
    margin-bottom: 2vh;
}

.three-box {
    min-width: 100%; 
    padding: 2vw;
    display: flex;
    flex-direction: rox;
    margin-bottom: 2.3vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 28vw;
    background: #e4decf;
    position: relative;
}

.item p {
    line-height: 1.4;
} 

.title {
    line-height: 21px;
    letter-spacing: 0.1em;
    padding: 2vh 0;
    font-weight: bold;
}

.title,.tag {
    text-align: center;
}

.description-area {
    padding: 2vh 2vw;
    height: 50vh;
}

.btn {
    position: relative;
    /* bottom: -50; */
    background-color: #565656;
    font-size: 18px;
    width: 100%;
    height: 60px;
    padding-top:18px;
    display: inline-block; 
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
}

#main-container2 {
    background: #c2b490;
}

#main-container2 .item{
    background: #e4decf;
}